mixin card
    .card
        .card__container.container
            .card__wrapper
                .card__inner
                    .card__links
                        a(href="/" class= ((subpage === 'schedule') ? "card__link card__link--schedule card__link--active" : "card__link card__link--schedule")) Расписание занятий
                            svg(width='24' height='24')
                                use(href="#calendar")
                        a(href="/teacher.html" class= ((subpage === 'teach') ? "card__link card__link--teach card__link--active" : "card__link card__link--teach")) Расписание преподавателей
                            svg(width='24' height='24')
                                use(href="#user")
                        a(href="/traffic.html" class= ((subpage === 'traff') ? "card__link card__link--traffic card__link--active" : "card__link card__link--traffic")) Загруженность аудиторий
                            svg(width='24' height='24')
                                use(href="#layers")
                    #app
                        .card__search
                            .V-autocomplete
                                p
                                    svg(width='33' height='33' fill="#c3cad6")
                                        use(href="#search")
                                    span(v-show="keyword")
                                        a(href="#" v-show="keyword" @click.prevent="keyword=''")
                                //- Набрать кирилицей
                                input.Search(
                                    placeholder="Начните вводить"
                                    v-model="keyword",
                                    @keydown.down='moveDown',
                                    @keydown.up='moveUp',
                                    @keydown.enter='onSelect(filteredItems[highlight])',
                                    @input="onInput($event.target.value)",
                                    @blur="keyword = selected")
                                p(v-show="!test", style="color:red") Кирилицей !
                                .btn.fill.red(v-show="filteredItems.length == 0", @click="keyword=''") не найдено
                                ul.filteredItems(
                                    v-show="keyword && !selected.city")
                                    li(
                                        v-for="(item,i) in filteredItems",
                                        :key="item.code",
                                        :class="{highlight:i==highlight}",
                                        @mouseenter='highlight = i',
                                        @click="onSelect(item)",
                                        v-html="mark(item.city) + ' ' + '<span>' + mark(item.region) + '</span>'")
                                table(v-show="keyword" v-model="keyword").card__table
                                    tr.card__table-row
                                        th.card__table-cell Время
                                        th.card__table-cell.card__table-cell--auditory(width='167') Аудитория
                                            svg(width='24' height='24')
                                                use(href="#pin")
                                        th.card__table-cell Тип занятия
                                        th.card__table-cell Дисциплина
                                        th.card__table-cell Преподаватель
                                    tr.card__table-row.card__table-divider
                                        td.card__table-cell.card__table-cell-divider(colspan='5') 22.03.2020 Понедельник
                                    tr.card__table-row
                                        td.card__table-cell.card__table-cell--date 8:30 - 10:00
                                        td.card__table-cell.card__table-cell--class {{ selected.city }}
                                        td.card__table-cell.card__table-cell--type(width='203') Лекция
                                        td.card__table-cell.card__table-cell--disciple Управление государственными и муниципальными услугами и заказами
                                        td.card__table-cell.card__table-cell--teacher Рябова Татьяна Михайловна
                                            span.card__table-teacherStatus к.соц.н.
                                    tr.card__table-row
                                        td.card__table-cell.card__table-cell--date {{ new Date().getHours() + ':' + new Date().getMinutes()}}
                                        td.card__table-cell.card__table-cell--class ВП8-404
                                        td.card__table-cell.card__table-cell--type Семинар
                                        td.card__table-cell.card__table-cell--disciple Управление государственными и муниципальными услугами и заказами
                                        td.card__table-cell.card__table-cell--teacher Рябова Татьяна Михайловна
                                            span.card__table-teacherStatus к.соц.н.
                                    tr.card__table-row
                                        td.card__table-cell.card__table-cell--date {{ new Date().getHours() + ':' + new Date().getMinutes()}}
                                        td.card__table-cell.card__table-cell--class ВП8-404
                                        td.card__table-cell.card__table-cell--type Лекция
                                        td.card__table-cell.card__table-cell--disciple Управление государственными и муниципальными услугами и заказами
                                        td.card__table-cell.card__table-cell--teacher Рябова Татьяна Михайловна
                                            span.card__table-teacherStatus к.соц.н.
                                    tr.card__table-row
                                        td.card__table-cell.card__table-cell--date {{ new Date().getHours() + ':' + new Date().getMinutes()}}
                                        td.card__table-cell.card__table-cell--class ВП8-404
                                        td.card__table-cell.card__table-cell--type Лекция
                                        td.card__table-cell.card__table-cell--disciple Управление государственными и муниципальными услугами и заказами
                                        td.card__table-cell.card__table-cell--teacher Рябова Татьяна Михайловна
                                            span.card__table-teacherStatus к.соц.н.



