mixin card
    .card
        .card__container.container
            .card__wrapper
                .card__inner
                    .card__links
                        a(href="/" class= ((subpage === 'schedule') ? "card__link card__link--schedule card__link--active" : "card__link card__link--schedule")) Расписание занятий
                            svg(width='24' height='24')
                                use(href="#calendar")
                        a(href="/teacher.html" class= ((subpage === 'teach') ? "card__link card__link--teach card__link--active" : "card__link card__link--teach")) Расписание преподавателей
                            svg(width='24' height='24')
                                use(href="#user")
                        a(href="/traffic.html" class= ((subpage === 'traff') ? "card__link card__link--traffic card__link--active" : "card__link card__link--traffic")) Загруженность аудиторий
                            svg(width='24' height='24')
                                use(href="#layers")
                    #app
                        .card__search
                            .V-autocomplete
                                p
                                    svg(width='33' height='33' fill="#c3cad6") 
                                        use(href="#search")
                                //- Набрать кирилицей
                                input.Search(
                                    placeholder="Начните вводить" 
                                    v-model="keyword", 
                                    @keydown.down='moveDown',
                                    @keydown.up='moveUp',
                                     @keydown.enter='onSelect(filteredItems[highlight])',
                                    @input="onInput($event.target.value)",
                                    @keydown.delete="selected={}",
                                    @blur="keyword = selected.name") 
                                p(v-show="!test", style="color:red") Кирилицей !
                                .btn.fill.red(v-show="filteredItems.length == 0", @click="keyword=''") не найдено
                                ul.filteredItems(
                                     v-show="keyword && !selected.name")
                                    li(
                                        @mouseover="moveDown", 
                                        v-for="(item,i) in filteredItems",
                                        v-model="selected", 
                                         :key="item", 
                                        @mousedown='onClick(item)', 
                                        :class="{highlight:i==highlight}",
                                        v-html="(item.name)") 
                                table(v-show="keyword && selected.name").card__table
                                    


